In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('data_microdados.csv')
type(df)

In [4]:
df.head()

,p0,p1_a,p1_a_1,p1_b,p1_c,p1_d,p1_e,p1_f,p1_g,p1_i,...,p8_d_2,p8_d_3,p8_d_4,p8_d_5,p8_d_6,p8_d_7,p8_d_8,p8_d_9,p8_d_10,p8_d_11
0,sx7gtiaaxl55faq1j6yjgsx7gtajcois,26.0,25-29,Masculino,Branca,Não,NaN,NaN,True,São Paulo (SP),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7sn2mlcdjmn5fe92lx6mpd7sn2mlo6op,25.0,25-29,Masculino,Branca,Não,NaN,NaN,True,Goiás (GO),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vd1yddpu4huvzw3df6tvd1ydv2to6epz,30.0,30-34,Masculino,Branca,Não,NaN,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3pde85awpb8lb50eax03pde8xuhajkbo,22.0,22-24,Feminino,Preta,Não,"Sim, acredito que a minha a experiência profis...","Aprovação em processos seletivos/entrevistas, ...",True,Minas Gerais (MG),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,q4kw82t75dv25ijmv24qdeq4kw826p7e,24.0,22-24,Feminino,Branca,Não,"Sim, acredito que a minha a experiência profis...",Quantidade de oportunidades de emprego/vagas r...,True,Santa Catarina (SC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN